body { 
    font: 13px/1.5 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif; /* 960.gs */
    background:#ececec; 
} 
.col { 
    width:50%; 
    float:left; 
} 
fieldset { 
    border:2px solid rgb(20, 32, 73);
    border-radius:5px; 
    -webkit-border-radius:5px; 
    margin-bottom:10px; 
} 
legend { 
    background:rgb(20, 32, 73); 
    color:rgb(223, 77, 10); 
    padding:3px 15px; 
    border-radius:5px; 
    -webkit-border-radius:5px; 
    font-weight:bold; 
} 
#wrap { 
    width:820px; 
    padding:20px; 
    margin:20px auto; 
    background:#fff; 
    border:1px solid #ccc; 
    border-radius:10px; 
    -webkit-border-radius:10px; 
} 
p { 
    padding:2px; 
} 
label { 
    display:inline-block; 
    width:100px; 
    font-weight:bold; 
} 
label:after { 
    content: ":"; 
} 
input { 
    display:inline-block; 
    width:200px; 
    border:1px solid #ccc; 
    padding:5px; 
    margin:0; 
    border-radius:5px; 
    -webkit-border-radius:5px; 
} 
thead  td { 
    text-align:center; 
    font-weight:bold; 
} 
td + td > input { 
    width:50px; 
} 
button { 
    border:1px solid #474747; 
    background:#ccc; 
    border-radius:5px; 
    -webkit-border-radius:5px; 
    padding:10px; 
    margin:10px; 
    font-weight:bold; 
    font-size:200%; 
} 
button:hover { 
    background:#ececec; 
    cursor:pointer; 
}
.center {
    text-align: center;
    color: white;
    background-color:rgb(20, 32, 73);
  }

  .center2 {
    text-align: center;
    color: white;
    background-color:rgb(20, 32, 73);
  }
  .center3 {
    text-align: center;
    background-color:rgb(249, 247, 252);
  }

input,
label {
    margin: .4rem 0;
}
footer {
    text-align: center;
    
    background-color: rgb(20, 32, 73);
    color: white;
  }